---
layout: default
---

<h1>{{ page.title }}</h1>

<table>
  <thead>
    <tr>
      <th>Ryan</th>
      <th>Strengths</th>
      <th>Weaknesses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Reynolds</td>
      <td>
        <ul>
          {% for s in page.reynolds.strengths %}
          <li>{{ s }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for w in page.reynolds.weaknesses %}
          <li>{{ w }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>Gosling</td>
      <td>
        <ul>
          {% for s in page.gosling.strengths %}
          <li>{{ s }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for w in page.gosling.weaknesses %}
          <li>{{ w }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<div class="post-content">
  {{ content }}
</div>
